h1{
    color: blueviolet;
    background-color: beige;
    border: 4px dashed red;
    border-radius: 7px;
    text-align: center;
    font-size: 60px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
}